.claim__button {
  font-size: 3rem;
  border-radius: 3rem;
  border: 4px solid #3a3a3a;
  padding: 0.5rem 3rem;
  color: #3a3a3a;
}

.claim__button:hover {
  cursor: pointer;
  color: #42b395;
  border-color: #42b395;
}
