.address-grid {
  display: flex;
  background-color: #e6e6e6;
  padding: 1rem;
}

.address-grid__column {
  width: 20%;
  background-color: #fff;
}

.address-grid__cell {
  display: flex;
  justify-content: center;
  padding: 0.25rem 1rem;
}

.status-tag {
  padding: 0.25rem 1rem;
  font-size: 0.8rem;
  color: white;
  border-radius: 1rem;
}

.status-tag--available {
  background-color: green;
}

.status-tag--available:hover {
  background-color: forestgreen;
}

.status-tag--claimed {
  background-color: red;
}
